

$font-primary: 'Roboto';
$font-secondary: 'Monserrat';


//break points
$bp-xl: 81.25em;  //1300px
$bp-lg: 62.5em; //1000px
$bp-md: 56.25em; //900px
$bp-sm: 40.625em; //650px
$bp-xs: 28.125em; //450px

//FONT SIZE
$default-font-size: 1.8rem;


//colors
$color-pink: #f18c8e;
$color-orange-1:#efd3cb;
$color-orange: #f0b7a4;
$color-yellow: #f1d1b5;
$color-blue-light: #7999a5;
$color-blue: #568ea6;
$color-blue-1: #1b5c70;
$color-navy:#305f72;
$color-purple:#653583;

$color-white: #eaeaea;
$color-gold: #786445;
$color-yellow:#d89d09;
$color-pink: #c2296e;
$color-red: #d6384f;

$color-grey-orange: #efe7e4;
$color-grey-light-1: #f3f3f3;
$color-grey-light-2: #e3e3e3;
$color-grey-dark-1: #787878;
$color-grey-dark-2: #535353;
$color-grey-dark-3: #3b3b3b;
